.TodosList {
    color: rgb(255, 0, 0);
}

.body {
    font-family: sans-serif;
    background-color: blueviolet;
    margin: 20px;
    padding: 0;
}

.elements {
    color: blue;
}

.todos {
    color: #f63a3a;
}